html {
  font-size: 20px;
  font-family: "Roboto Mono", monospace;
}

body{
    width: 100½;
}

.mainPart{
    width: 1200px;
  margin: 2rem auto;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  padding: 0.6rem;
  border-radius: 1rem;
  margin: 0.5rem;
  color: white;
  margin-left: 7rem;
}



nav .gezi {
  display: inline-block;
  background-color: #ff764e;
}
nav .gezi:hover{
    background-color: rgb(255, 204, 204);
    color: #ff764e;
}
nav .bilgi {
  background-color: #5ed3eb;
}
nav .bilgi:hover{
    background-color: rgb(203, 255, 255);
    color: #5ed3eb;
}

nav .karsilastirma {
  background-color: #ffcd69;
}
nav .karsilastirma:hover{
    color: #febd3b;
    background-color: #fce6bb;
}
header {
  margin-top: 8rem;
  display: flex;
}

div {
  margin-top: 1rem;
}

header .imgDiv {
  width: 20%;
}

header img {
  width: 100%;
  border-radius: 50%;
  height: 13rem;
  object-fit: fill;
}

header .headerDiv {
  margin-left: 6rem;
  text-align: center;
  margin-top: 0;
}

header #periYazi {
  font-family: "Chelsea Market", cursive;
  
}


section .mainContent {
    background-color: #DDB9A3;
    color: white;
    text-align:center;

}

section .middlePart {
    width: 30%;
    margin: 2rem auto;
    text-align: center;
}

section .middlePart div{
    margin-bottom: 3rem;
}

section .middlePart img{
    text-align: center;
    height: 7rem;
}


footer img{
    width: 100%;
    height: 8rem;
    object-fit:cover;
    object-position: center;
}

footer nav {
width: 1200px;
  margin: auto;
  box-sizing: border-box;
}